@media screen and (max-width: 1500px) {
    .strategy-container .strategy-right {
        margin-bottom: 180px;
        padding: 90px 0 0 30px;
    }
    .strategy-right-item1 .review {
        font-size: 19px;
        margin-bottom: 60px;
    }
    .strategy-scientist-img {
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .strategy-scientist-img img {
        width: 70px;
    }
    .strategy-name1 {
        font-size: 21px;
        margin-right: 20px;
    }
    .strategy-name2 {
        font-size: 13px;
    }
}

@media screen and (max-width: 1190px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
    header a {
        font-size: 30px;
    }
    header .logo-header i {
        font-size: 35px;
    }
    nav {
        transform: scale(85%);
    }
    main .hello {
        padding-top: 50px;
        height: 750px;
    }
    .hello-container span {
        font-size: 13px;
    }
    .hello-container a {
        font-size: 14px;
    }
    .hello-item1 {
        font-size: 37px;
    }
    .hello-item2 {
        font-size: 13px;
    }
    .partners {
        height: 150px;
    }
    .partners-img img {
        height: 110px;
    }
    .strategy-container .strategy-left {
        margin-top: 25px;
        justify-content: flex-start;
    }
    .strategy-left-item1 {
        font-size: 13px;
    }
    .strategy-left .strategy-left-item2 {
        font-size: 36px;
    }
    .strategy-left-item3 {
        font-size: 13px;
    }
    .strategy-left-item4 {
        font-size: 14px;
    }
    .strategy-container .strategy-right {
        margin-bottom: 180px;
        padding: 50px 0 0 30px;
    }
    .strategy-right-item1 .review {
        font-size: 17px;
        margin-bottom: 50px;
    }
    .strategy-scientist-img {
        width: 90px;
    }
    .strategy-scientist-img img {
        width: 60px;
    }
    .evolution {
        margin-bottom: 190px;
    }
    .amazing {
        padding: 40px 25px 40px 10%;
        transform: translate(0, -150px);
    }
    .amazing-content {
        font-size: 50px;
    }
    .amazing a {
        font-size: 15px;
    }
    footer {
        padding-left: 5%;
    }
    .footer-line {
        margin-right: 50px;
    }
    .footer-list-mid {

    }
    .footer-email {
        font-size: 21px;
    }
}

@media screen and (max-width: 500px) {
    header {
        font-size: 52px !important;
        border: #cc0002 solid 2px;
    }

    header .logo-header i {
        font-size: 65px !important;
    }

    .hello-item1 {
        font-size: 65px !important;
    }

    .strategy-left .strategy-left-item2 {
        font-size: 59px !important;
    }

    .strategy-right-item1 .review {
        font-size: 29px !important;
    }

    .strategy-name1 {
        font-size: 33px !important;
    }

    .strategy-name2 {
        font-size: 20px !important;
    }

    .project-item1 .project-item1-text1 {
        font-size: 39px !important;
    }

    .project-text1-1 {
        font-size: 39px !important;
    }

    .evolution-up {
        font-size: 65px !important;
    }

    .evolution-list-item .evolution-list-text1 {
        font-size: 39px !important;
    }

    .amazing-content {
        font-size: 91px !important;
    }

    .amazing a {
        font-size: 24px !important;
    }

    .footer-email {
        font-size: 34px !important;
    }

    .footer-links {
        font-size: 46px !important;
    }

    .footer-logo {
        font-size: 52px !important;
    }
}
