@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 98vh;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2B2B2B;
}
.ukraine-babah .rocket-button button {
    width: 190px;
    height: 190px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    background-color: #cc0002;
    border: #9c9c9c solid 2px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.ukraine-babah {
    width: 700px;
    font-size: 30px;
}
.rocket-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Poppins, sans-serif;
}
.ukraine-babah .rocket-button button:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.ukraine-babah .rocket-button button:active {
    transform: scale(86%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}